<div class="about">
  <div class="about-section">
<h6>About Us Page</h6>
<h1>Welcom To App NearShop for Handmade .</h1>
</div>

<h5 style="text-align:center">Our Team</h5>
<div class="row">
<div class="column" >
  <div class="card">
   <img id="img" src="../../assets/img12.jpg" style="width:40%">  
     <div class="container">
      <h5>Fraj Mili</h5>
      <p class="title">Scrum Master</p>
      <p>A scrum master is the facilitator for an agile development team.</p>
      <h6>Fraj@gmail.com</h6>
      <p><button class="button">Contact</button></p>
    </div>
  </div>
</div>

<div class="column">
  <div class="card">
    <img src="../../assets/img13.jpg" alt="Mike" style="width:40%">
    <div class="container">
      <h5>abdelkader Amri</h5>
      <p class="title">Developer</p>
      <p>a programmer engaged in, the development  Web applications.</p>
      <h6>abdelkader@gmail.com</h6>
      <p><button class="button">Contact</button></p>
    </div>
  </div>
</div>

<div class="column">
  <div class="card">
    <img src="../../assets/img7.jpg" alt="Mike" style="width:40%">
    <div class="container">
      <h5>Ons Khardani</h5>
      <p class="title">Developer</p>
      <p>a programmer engaged in, the development  Web applications.</p>
      <h6>ons@gmail.com</h6>
      <p><button class="button">Contact</button></p>
    </div>
  </div>
</div>
<div class="column">
  <div class="card">
    <img src="../../assets/img9.jpg" alt="John" style="width:40%">
    <div class="container">
      <h5>Haythem Boudhina</h5>
      <p class="title">Developer</p>
      <p>a programmer engaged in, the development  Web applications.</p>
      <h6>haythem@gmail.com</h6>
      <p><button class="button">Contact</button></p>
    </div>
  </div>
</div>
<div class="column">
  <div class="card">
    <img src="../../assets/img14.jpg" alt="John" style="width:30%">
    <div class="container">
      <h5>khairi ben rjab</h5>
      <p class="title">Developer</p>
      <p>a programmer engaged in, the development  Web applications.</p>
      <h6>khairi@gmail.com</h6>
      <p><button class="button">Contact</button></p>
    </div>
  </div>
</div>
</div>
</div>