

  <head>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
  </head>

<body>
    <div><h3>Add Your Product</h3></div>
    <br><br>
<div>
  <form  [formGroup]="addProduct" (ngSubmit)="onSubmit()" >
    <div class="container">
    <div class="row" >
        <div class="col">
            <label>Title:</label>
          <input type="text" class="form-control" name="title" formControlName="title" placeholder="Title"  required>
        </div>
        <div class="col">
            <label>Description:</label>
          <input type="text" class="form-control" name="Description" formControlName="Description" placeholder="Description" required>
        </div>
        
      </div>
      <br>
      <div class="row" >
        <div class="col">
            <label>Price:</label>
          <input type="text" class="form-control" name="Price" formControlName="Price"   placeholder="Price" aria-label="Price" required>
        </div>
        <div class="col">
            <label>Quantity:</label>
            <select class="form-control"  id="basicSelect" name="Quantity" formControlName="Quantity" required>
                <option disabled>Select Quantity </option>
                <option  [value]=""></option>
                <option  [value]="1">1</option>
                <option  [value]="2">2</option>
                <option  [value]="3">3</option>
                <option  [value]="4">4</option>
                <option  [value]="5">5</option>
                <option  [value]="6">6</option>
                <option  [value]="7">7</option>
                <option  [value]="8">8</option>
                <option  [value]="9">9</option>
                <option  [value]="10">10</option>
                <option  [value]="11">11</option>
                <option  [value]="12">12</option>
                <option  [value]="13">13</option>
                <option  [value]="14">14</option>
                <option  [value]="15">15</option>
                <option  [value]="16">16</option>
                
            </select>
        </div>
        
        
      </div>
      <br>
      <div class="row">
        <label>Select an image:</label>
        <input type="file"   name="image" formControlName="image" required/>
      </div> 
      <br>
      <div id='map'  style='width: 90%; height: 350px;margin: 0 auto;'> </div>
    <br>
      <div class="row">

        <button type="submit"   class="btn btn-primary">Save</button>
      </div>
      
    </div>
  </form>
  
  
</div> </body>